.Admin {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.Cards > * {
  flex-basis: 45%;
}

.Cards {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}
