.App_header {
  position: fixed;
  width: 100%;
  height: 20px;
  padding: 5px;
  background-color: transparent;
  color: white;
  text-align: center;
  z-index: 99;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Ajustes {
  margin-right: 10px !important;
  justify-content: center;
}
.Ajustes img {
  width: 50%;
  max-height: 27px;
}

.Back {
  content: ' ';
  background-image: url('../../assets/images/home_button.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.App_header > * {
  flex: 1;
}

.Dragger {
  -webkit-app-region: drag;
}

.window_corner_buttons {
  color: black;
  justify-content: flex-end;
}

.window_corner_buttons span {
  justify-content: center;
  margin-right: 20px;
  font-size: 25px;
}
