.gridContainer {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  grid-template-areas: '. . .' '. . .' '. . .' '. . .';
  transition: all ease-in-out 350ms;
  animation: altura 300ms linear 0s 1 alternate;
}

.Btn {
  border: none;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  background: transparent;
}

@media all and (-ms-high-contrast: none) {
  .gridContainer {
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat(4, 1fr);
  }
}

@keyframes altura {
  0% {
    padding: 0;
    height: 0;
  }
  100% {
    padding: 20px;
    height: auto;
  }
}
